/* CSS Document */
/*color background banner: #EF9FA0
Color background nav: #F3CCD0*/ 
.logo {
	background: #EF9FA0; 
}
.logo img {
	width: 250; 
	
}
.nav {
	background-color:#F3CCD0;	
}
.nav-link {
	color: white; 
}
.text-carousel {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; 
}
.categories {
	margin-top: 50px;
	text-align: center; 
}